body {
	font-family: Helvetica, sans-serif;
	text-align: center;
	color: white;
	background-color: blue;
}

@media only screen and (max-width: 700px) {
    body {
        background-color: red;
        }
    }
.base {
	float: left;
      left: 50%;
}
#square1 {
	width: 200px;
	height: 200px;
	background-color: yellow;
	margin-bottom: 20px;
}

#square1:hover{
	border-radius: 50%;
	background: tomato;
	transition: all 0.5s ease-in;
}


#square2 {
	width: 200px;
	height: 200px;
	background-color: yellow;
	margin-bottom: 20px;
	transition: width 2s;
}

#square2:hover{
	width: 600px;
}
#square3 {
	width: 200px;
	height: 200px;
	background-color: yellow;
	margin-bottom: 20px;
}
#square3:hover{
	width: 100px;
	height: 100px;
	margin-bottom: 20px;
}

#animsquare {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: orange;
	margin-bottom: 20px;
}

#animsquare2 {
	width: 200px;
	height: 200px;
	background: purple;
	margin-bottom: 20px;
}


