body{
	background:#d9d3ea;
	padding-left: 20rem;
	padding-right: 5rem;
	color: black;
	font-family: 'helvetica', serif;
}

h1{
	font-size: 280px;
	color:#FBEFF2;
}
/*div { display: inline-block; }*/

p{
	font-size: 15px;
	color:white;
}
.container{
	display: flex;
}

.circle {
	background: #FBEFF2;
	height: 300px;
	width: 300px;
	border-radius: 50%;
	display: flex;
	margin: 70px;
}

.container2{
	display: flex;
	margin: auto;
	width:350px;
}

.container3 {
	height: 100px;
}

.rect1 {
/*	display: flex;
	float: center;*/
	margin: auto;
	width: 115px;
	height: 290px;
	background:#FBEFF2;
}

.caption{
	font-size: 9px;
	margin-top:20em;
}


.redcircle {

	background: #FBEFF2;
	height: 100px;
	width: 100px;

}

.redcircle2 {
	background: #FBEFF2;
	height: 200px;
	width: 200px;
	border-radius: 50%;
	display: flex;
	margin: 70px;
}
