h2{
        margin-top: 3em;
}

#flexbox {
	display: inline;
}


.#parallelogram {
	width: 150px;
	height: 100px;
	-webkit-transform: skew(20deg);
	   -moz-transform: skew(20deg);
	     -o-transform: skew(20deg);
	background: red;
}