body{
    font-family: 'Signika Negative', sans-serif;
    padding: 1rem 1rem;
    margin: 0;
}

h1 {
        font-size: 30px;
}

.parent{
	width: 100vw;
}

.box{
	width: 200px;
	height: 220px;
	background-color: rgb(200,190,170);
	display: inline-block;
    box-sizing: border-box;
    position: relative;
    float: left;
    transition: rotate(45deg) scale(0.6);  
}

.box::before{
	color: rgb(0,191,189,50);
	padding-top: 10px;
	display: block;
}

.box::after{
	background-color: invert;
	-webkit-filter: invert(100%);
    filter: invert(100%);
}

.box:hover{
	background-color: solid transparent;
	-webkit-filter: invert(100%);
    filter: invert(100%);
}

#first{
	background-color: black;
}

.circle {
	width: 190px;
	height: 190px;
	background: rgb(0,200,200);
	-moz-border-radius: 190px;
	-webkit-border-radius: 190px;
	border-radius: 190px;
	position: absolute;
	bottom:0px;
	left: 0px;
	z-index: 10;
}

.rectangle {
	width: 200px;
	height: 110px;
	background: rgb(140,80,180);
	position: relative;
	top: 0px
}

.half-circle {
	width: 20px;
    height: 40px;
    -moz-border-radius: 40px 0 0 40px;
    border-radius: 40px 0 0 40px;
    background-color: black;
    border-bottom: 0px;
    position: relative;
    left: 20px;
    top: 10px;
    transform: rotate(-245deg)
}

#right{
	left: 5px;
	transform: rotate(65deg)
}

.small-circle{
	width: 45px;
	height: 45px;
	background: rgb(255,10,10);
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	position: absolute;
}

#one{
	position: absolute;
	float: right;
	right: 0px;
}


#white{
	background: white;
/*	position: absolute;
*/}

#second-rect{
	width: 200px;
	height: 50px;
	background: white;
}

#red{
	background: rgb(255,10,10);
}

#gradient{
	background: linear-gradient(0deg, white, pink);
	width: 200px;
	height: 60px;
}

.triangle-topright {
	width: 0px;
	height: 0px;
	border-top: 220px solid black;
	border-left: 200px solid transparent;
}

.triangle-topleft {
	width: 0px;
	height: 0px;
	border-top: 220px solid black;
	border-right: 200px solid transparent;
	position: relative;
	float: left;
}

#centered-one{
	width: 35px;
	height: 35px;
	top: 140px;
	left: 85px;
	background: rgb(220,16,18);
}

#centered-two{
	top: 145px;
	left: 80px;
}

#blue{
	border-top: 220px solid transparent;
	border-right: 200px solid rgb(0, 72, 164);
}

#green{
	border-top: 220px solid white;
	border-right: 200px solid rgb(4, 140, 80);
}

@media screen and (max-width: 1200px){

}

@media screen and (max-width: 600px){
    

}