body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #E1CFDB;
}


.box {
    display: block;
    height: 100px;
    width: 100px;
    border-radius: 20px;
    font-family: 'Courier New', monospace;
    color: white;
    display: inline-block;
}

.box2 {
    display: block;
    height: 100px;
    width: 100px;
    border-radius: 20px;
    font-family: 'Courier New', monospace;
    color: white;
    display: inline-block;
}


.element {
    text-align: center;
    background-color: #0F3A97;
    animation: updown 4s ease-out 1 forwards, leftright 2s ease-out 1;
}

.element1 {
    text-align: center;
    background-color: green;
    animation: rightleft 4s ease-out 1 forwards, leftright 2s ease-out 1;
}

.element2 {
    text-align: center;
    background-color: #FFDA00;
    animation: downup 4s ease-out 1 forwards, rightleft 2s ease-out 1;
}

.element3 {
    text-align: center;
    background-color: #FF9B00;
    animation: leftright 4s ease-out 1 forwards, rightleft 2s ease-out 1;
}

.play{
    animation: rotater 1s ease-in-out alternate infinite;
}

.play2{
    animation: bigger 1s ease-in-out alternate infinite;
}

@keyframes rotater {
    0% { 
        transform:rotate(0) scale(1) 
    }
    50% { 
        transform:rotate(360deg) scale(2) 
    }
    100% { 
        transform:rotate(720deg) scale(1) 
    }
}

@keyframes bigger {
    0% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
    100% {
        transform: scale(2.0);
        -webkit-transform: scale(2.0);
    }
}

@keyframes updown{
    0%{
        transform: translateY(-90vh);
    }
    100%{
        transform: translateY(0);
    }
}


@keyframes rightleft{
    0%{
        transform: translateX(-90vw) 
    }
    100%{
        transform: translateX(0)
    }
}

@keyframes leftright{
    0%{
        transform: translateX(90vw) 
    }
    100%{
        transform: translateX(0)
    }
}

@keyframes downup{
    0%{
        transform: translateY(90vh);
    }
    100%{
        transform: translateY(0);
    }
}

