* {
	box-sizing: border-box;
}

body {
	background-color:black;
	color:white;
	font-family: sans-serif;
}

article {
	background-color: rgba(255,72,0,.2);
	width:90%;
	margin:0 auto;
}


h1, h2, h3 {
	font-size: 10em;
	color: rgba(0,0,255,.3);
	text-transform: uppercase;
	padding:0;
	text-align: center;
	margin-bottom:10%;
	margin-top:-6%;
}


h3 {
	font-size: 90em;
	margin-top:-80%;
	float:left;
	background-color: blue;
	color: rgba(255,72,0,.2);
}

ul {
	position:absolute;
	border: 1px solid pink;
	font-family: 'Archivo Black', sans-serif;
	padding:20px;
}

li {

	margin:1em;
}

.list-top{
	top:300px;
	right:10em;
}

.list-bottom{
	top:500px;
	right:10em;
}



.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    float:right;
    margin-right:-10%;
    -webkit-animation-name: colorchange; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 100s; /* Safari 4.0 - 8.0 */
    animation-name: colorchange;
    animation-duration: 100s;
    animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes colorchange {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}

/* Standard syntax */
@keyframes colorchange {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}


.circle2 {
    float:left;
    margin-left:-60%;
    
}


#ticker p {
	transform: rotate(90deg);
	transform-origin: left top 0;
	position:absolute;
	top:10px;
	left:40px;-webkit-animation-name: slide; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 10s; /* Safari 4.0 - 8.0 */
    animation-name: slide;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes slide {
    0%   {top:10px;}
    25%  {top:40px;}
    50%  {top:70px;}
    100% {top:800px; opacity:0;}
}

/* Standard syntax */
@keyframes slide {
    0%   {top:10px;}
    25%  {top:40px;}
    50%  {top:70px;}
    100% {top:800px; opacity:0;}
}


