body {
	font-family: georgia;
	font-size: 1em;
}
	li {
	color: orange;
}

h1{
	font-size: 2rem;
	padding: 3rem;
	margin: 3rem;
}

.container {
  position: relative;
  width: 40%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.overlay_orange {
	background-color: #FF5733;
}

.overlay_teal {
  background-color: #25E8E2;
}

.overlay_purple  {
	background-color: #A425E8;
}