h1{
		margin: 0 100px 300px 600px;
		margin-top: 0;
		margin-right: 100px;
		margin-bottom: 0px;
		margin-left: 100px;

	}

h4{
		margin: 0 100px 300px 600px;
		margin-top: 0;
		margin-right: 100px;
		margin-bottom: 50px;
		margin-left: 100px;

	}

	body{
		font-family: 'Scope One', serif;
		font-size: 1rem;

		margin: 0 100px 300px 600px;
		margin-top: 0;
		margin-right: 100px;
		margin-bottom: 300px;
		margin-left: 100px;
	}

	li{
	color: #FF6666;
	}

	h1{
		
		font-family: 'Lato', sans-serif;
		font-style: bold;
		font-weight: 700;
		color: #99FFFF;
		text-align: center; 
		background: #FF6666;
		padding: 1rem;
		border: 3px solid #99FFFF;
		margin: 0 100px 300px 600px;  
		margin-top: 1rem;
		margin-right: 6rem;
		margin-bottom: 1rem;
		margin-left: 6rem;
		box-sizing: border-box; 
	}

	h4{
		
		font-family: 'Scope One', serif;
		font-weight: 700;
		font-size: 1rem;
		color: #FF6666;
		text-align: center; 
	}

h2{
		
		font-family: 'Scope One', serif;
		font-style: italic;
		font-size: 1rem;
	}

h3{
		
		font-family: 'Scope One', serif;
		font-style: bold;
		font-weight: 700;
		font-size: 1.2rem;
		text-decoration-line: underline;
		text-decoration-color: #FF6666;
		margin-bottom: 0
	}
	
