body{
	position: relative;
	background-color: black;
	font-family: 'Hammersmith One', sans-serif;
}

h1{
	font-size: 110px;
	color: yellow;
	text-align: center;
/*	margin-left: 5px;
*/	margin-top: 6%;
	position: absolute;
	z-index: 10;
}

img{
 	max-width: 100%; 
}

.photos{
	display: flex;
 	justify-content: center;
 	flex-wrap: wrap;
}

.chunk{
	flex: 1;
	min-width: 50%;
	margin-bottom: 0px;
}

/*.right{
	position: relative;
	top: 200px;
}*/

h2{
	font-size: 50px;
	color: #ff00bf;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 15px;
	top: 20px;
	left: 5%;
/*	position: absolute;
*/	z-index: 100;
}


@keyframes bounce {
  from {
    transform: none;
  }

            0% {
		-webkit-transform:translateY(-80%);
	}
	5% {
		-webkit-transform:translateY(-80%);
	}
	15% {
		-webkit-transform:translateY(0);
		padding: 10px auto;
	}
	20% {
		-webkit-transform:translateY(-70%);
	}
	25% {
		-webkit-transform:translateY(0%);
		padding: 10px auto;
	}
	30% {
		-webkit-transform:translateY(-60%);
	}
	35% {
		-webkit-transform:translateY(0%);
		padding: 10px auto;
	}
	40% {
		-webkit-transform:translateY(-50%);
	}
	45% {
		-webkit-transform:translateY(0%);
		padding: 10px auto;
	}
	50% {
		-webkit-transform:translateY(-40%);
	}
	55% {
		-webkit-transform:translateY(0%);
		padding: 20px auto;
	}
	60% {
		-webkit-transform:translateY(-30%);
	}
	65% {
		-webkit-transform:translateY(0%);
		padding: 20px auto;
	}
	70% {
		-webkit-transform:translateY(-15%);
	}
	75% {
		-webkit-transform:translateY(0);
		padding: 30px auto;
	}
	80% {
		-webkit-transform:translateY(-10%);
	}
	85% {
		-webkit-transform:translateY(0);
		padding: 30px auto;
	}
	90% {
		-webkit-transform:translateY(-5%);
	}
	95% {
		-webkit-transform:translateY(0);
		padding: 45px;
	}
	100% {
		-webkit-transform:translateY(0);
		padding: 0px;
	}
}

.animate{
	animation: bounce 4s ease-in infinite forwards;
}

@keyframes skew {
  from, 11.1%, to {
    transform: none;
  }

  22.2% {
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }

  33.3% {
    transform: skewX(6.25deg) skewY(6.25deg);
    transform: translateY(200px);
  }

  44.4% {
    transform: skewX(-3.125deg) skewY(-3.125deg);
    transform: translateY(300px);
  }

  55.5% {
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }

  66.6% {
    transform: skewX(5deg) skewY(5deg);
  }

  77.7% {
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }

  88.8% {
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}

.animate2 {
	animation: skew 7s ease-in infinite forwards;
}

h2:hover{
	cursor: pointer;
}

h1:hover{
	cursor: pointer;
}

@media screen and (max-width: 400px) {
  .chunk {
    min-width: 100%;
  }

}
}