h1{
	margin: 10px 0 10px 0;
}

body {
	font-family: georgia;
	font-size: 1em;
}
	li {
	color: orange;
}

h1{
	font-size: 2rem;
	background: yellow;
	padding: 3rem;
	border: 3px solid red;
	margin: 3rem;
}

.special {
	color: blue;
}