body { 
	width: 120%;
				   }
.container {
	position: relative;
	top: 100px;
	display: flex;
}

.smalltriangle {
	top: 100px;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid #F547C6;
	mix-blend-mode: multiply;
	position: relative;
}

.bigtriangle {
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 200px solid blue;
	mix-blend-mode: multiply;
	position: relative;
}

.bigdown {
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-top: 200px solid purple;
	mix-blend-mode: multiply;
	position: relative;
}

.smallsquareup {
	width: 100px;
	height: 100px;
	background: tomato;
	mix-blend-mode: multiply;
	position: relative;
}

.smallsquare {
	top: 100px;
	width: 100px;
	height: 100px;
	background: tomato;
	mix-blend-mode: multiply;
	position: relative;
}

.circle{
	background: #f4ca16;
	height: 200px;
	width: 200px;
	border-radius: 50%;
	mix-blend-mode: multiply;
	float: left;
}
}

.section{
	right: 100px;
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
}
.animate{
	animation: fadeOutLeft 4s ease-in 1;
}

body:hover{
	cursor: pointer;
}


