
*{
	margin: 0;
	box-sizing: border-box;
}

body{
	font-family: Georgia, serif;
	font-size: 1rem;
}

a{
	text-decoration: none;
	color: pink;
}

a:hover{
	color: red;
}


li{
	color: orange;
}


h1{
	background: yellow;
	font-size: 3rem;
	padding: 3rem;
	border: 3px solid red;
	margin: 6rem;
	width: 300px;
}

section{
	border: 10px solid blue;
	padding: 5rem;
}

.special{
	color: tomato;
}

#intro{
	color: purple;
}