body{
	position: relative;
}

h1{
	font-size: 110px;
	color: yellow;
	text-align: center;
	margin-top: 10%;
	position: absolute;
	z-index: 10;
}

img{
 	max-width: 100%; 
}

.photos{
	display: flex;
 	justify-content: center;
 	flex-wrap: wrap;
}

.chunk{
	flex: 1;
	min-width: 50%;
}

.right{
	position: relative;
	top: 200px;
}

.dot{
	width:100px;
	height:100px;
	border-radius: 50%;
	background: pink;
	position: absolute;
	top: 10em;
	left: 50em;
	z-index: 100;
}

@media screen and (max-width: 400px){
	.chunk{
		min-width: 100%;
	}
}