* {
	box-sizing: border-box;
	margin:0;
	font-family: 'Shrikhand', cursive;
	color:white;
	}

body {
	background: linear-gradient(to right, red , yellow);
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
	
}

.body-change {
	background: linear-gradient(to right, blue , pink);
}


.section-change {
	font-size: 6em;
	background: linear-gradient(to left, blue , pink);
}

section {
	padding:1.5rem;
	font-size: 3.5em;
	margin: auto;

	
}

.panel, .box, .dope, .fun, .circle{
	width: 6em;
	height: 4em;
	border: 5px solid blue;
	text-align: center;
	position: relative;
	margin: auto;
	background: linear-gradient(to left, red , yellow);
	display: flex;
  	flex-direction: column;
  	justify-content: center;
}

.overlay {
	position: absolute;
	background-color: blue;
	width: 6em;
	height: 4em;
	top:0;
	left:0;
    display: none;
}

.panel:hover .overlay {
	background: linear-gradient(to right, red , yellow);
    animation-name: slides;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    display: block;
    display: flex;
  	flex-direction: column;
  	justify-content: center;
}



/* Standard syntax */
@keyframes slides {
    0%   {top:0px; }
    100% {top:40px; opacity:0; transform:rotate(-7deg);}
}


.box {
	transition: width 3s ease-in-out;
}

.box:after {
	content:'GROW';
}

.box:hover {
	width: 90vw;
	background: linear-gradient(to right, red , yellow);
}

.box:hover:after{
	content:'AGAIN';

}



 .dope {
    animation-name: turn;
    animation-duration: .07s;
    animation-iteration-count: infinite;
    border-radius:none;
    transition: border-radius 1s ease-in-out;
}


@keyframes turn {
    100% {transform:rotate(360deg);}
}

 .dope:hover {
 	background: linear-gradient(to right, red , yellow);
    animation-name: turn;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    border-radius:50%;
}


.fun {
	animation-name: grow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transform:skew(0deg,0deg);
    
}

@keyframes grow {
    100% {
    	color:blue;
    	transform:skew(40deg,40deg);
    }
}


.fun:hover {
	animation-name: grown;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    z-index: 100;
    
}

@keyframes grown {
    100% {
    	color:blue;
    	transform:skew(120deg,120deg);
    }
}


.circle{
	border-radius: 6em;
	height: 5em;
	width: 5em;
	transform:translateY(0px);
	animation-name: bump;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes bump {
    10% {
    	transform:translateY(0px);}
    20% {
    	transform:translateY(20px);}
}

