body{
	  font-family: helvetica;
}

body{
      background-color: orange;
}


h1{
	background: yellow;
	font-size: 10rem;
	padding: 3rem;
	border:15px solid red;
	margin: 6rem;
	width: 300px;
}

li{
	color: red;
}

h3{ 
	color: white;
 }

section{
	border: 20px solid blue;
	padding: 3rem;
}

.special{
	color:yellow;
}

