body{
	background: white;
	padding-left: 5rem;
	padding-right: 5rem;
	color: black;
	font-family: 'gotham narrow', sans-serif;
}
	
h1 {
	font-size: 25px;
	word-spacing: 120%;
    color: #C8C8C8;

}


ul { 
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
    list-style-type: none;
    font-size: 12px; 
    line-height: 200%;

}
/*
a: hover {
  color: pink;
}*/


.link{
    float: left;
    font-weight: 200; 
    font-size: 12px; 
    margin-bottom: 10px;
    margin-top: 0;
    font-family: 'gotham narrow', sans-serif;
/*    font-style: bold;*/
    line-height: 200%;
    list-style-type: none;
  }


.subhead {
	  font-weight: 200; 
    font-size: 15px; 
    margin-bottom: 10px;
    margin-top: 0;
    font-family: 'gotham narrow', sans-serif;
    font-style: bold;
  	line-height: 150%;
}

img { 
	width: 300px; 
	background-color: #4440;
  padding-bottom: 10px;
}

img[class] { 
  width: 100%;
}

p { font-weight: 200; 
    font-size: 12px; 
    margin-bottom: 10px;
    margin-top: 0;
    font-family: 'gotham narrow', sans-serif;
 	line-height: 150%;

}

.covertext {
  float: right;
  width: 35%;
  margin: 0 30px 20px 0;
  padding-bottom: 20px;
}

.imagebox {
  float: right;
  width: 60%;
  margin: 0 30px 20px 0;
  padding-bottom: 20px;
}


.rainbow:hover {
  opacity: 0.5;
  cursor: pointer;
}
.rainbow { object-fit: contain }
