
h1,h2{
	color: white;
	font-weight: bold;
	font-style: normal;
}

body {
	color: white;
	font-style: italic;
	background: black;
	font-size: 1em;
	margin: 1em;
}

#flexbox{
        display: flex;
        color: grey;
}

.fixed {
        width: 20px;
        background: black;
}

.col1{
        flex: 2;
}

.col2, .col3{
        flex: 2;
}

main{
	max-width: 50vw;
}

div