body{
	background: white;
	padding-left: 25rem;
	padding-right: 5rem;
	color: black;
	font-family: 'Crimson Text', serif;
	cursor: url(http://pluspng.com/img-png/mouse-cursor-png-mouse-cursor-png-566.png);
}

body#page1 { 
	background-color: pink
 }

body#page2 {
	background-color: #E6E6E6;
}

body#page3 {
	background-color: #FBF8EF
}

body#page4 {
	background-color: #FAFAFA
}

a {
	font-family: 'futura', sans-serif;    
	margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 5rem;
    cursor: auto;
    text-transform: capitalize;
    text-decoration-style: wavy;
    display: inline-block;
}

h1{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 7em; display: block;
	word-spacing: 10px;
}
		.one{
			color:red;
		}
		.two{
			border:3px red;
		}

h2 {
	font-size: 25px;
	font-family: 'Palanquin Dark', sans-serif;
	line-height: 1rem;
	color:#A3A1B8;
}
		p{display: block;
			font-size: 14px;
			color: black;
			text-align:left;
			padding-right: 8rem;
		    }
 h3 {font-family: 'Crimson Text', serif;
font-size: 13px}
 h4 {font-family: 'Crimson Text', serif;
font-size: 13px}
 h5 {font-family: 'Crimson Text', serif;
 font-size: 13px}
 h6 {font-family: 'Crimson Text', serif;
 font-size: 13px}
