h2{
	font-family: 'Nosifer', cursive;
	color: red;
	width: 500px;
	margin-left: 20em;
}
p{
	color: blue;
	font-size: 1em;
	margin: 20px;
	padding-left: 3em;
}
.green{
	font-size:1.3em;
	color: #ff9e00;
	padding: 20 px;
	font-family: 'Helvetica';
	background: blue;
	margin-left:10px;
}
body{
	background: #ff9e00;
	max-width: 1000px;
	font-family: 'Times';
}
.white{
	color:white;
	font-family: 'Nosifer';
	font-size: 2em;
}
span{
	color:blue;
	font-family: 'Helvetica', cursive;
}
.Bad{
	color: white;
	font-family: 'Nosifer';
	font-size: 2em;
}
.Arial{
	font-family: 'Arial';
	}
.subarial{
	font-family: 'Arial';
	font-size: 0.5em;
}
.clarendon{
	font-family: 'PT Serif';
}
.tahoma{
	font-family: 'Tahoma';
	font-size:3em;
	color: white;
	padding: 15em;
	box-sizing: border-box;
}
