* {
	box-sizing: border-box;
	margin:0;
	}

body {
	background-color:white;
	padding: 1em;
}


#ALL-container {
	/*PLAY WITH THIS--------------------*/
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	padding: 3.05em 2.05em;
}


.I-container{
	/*PLAY WITH THIS--------------------*/
	flex-grow: 1;
	padding-bottom: 5%;
}


.Y-container{
	/*PLAY WITH THIS--------------------*/
	margin-left: -16.9em;
	padding-right: 7em;
	padding-top: 1.5em;


}


.I-bar-top, .N-bar-top, .Y-bar-top{
	height:3em;
	width: 10em;
	border-radius: 1.5em;
	background-color: black;
}

.I-stem, .N-stem{
	height:16em;
	width: 3em;
	background-color: black;
	margin: 0 auto;
}


.heart-hump-left, .heart-hump-right{
    width: 14em;
    height: 22em;
    background: red;
    border-radius: 16em 16em 0 0;
    -webkit-transform: rotate(-45deg);
	-webkit-transform-origin: 0 100%;
	margin-left: 14.5%;

	
    }

.heart-hump-right{
	-webkit-transform: rotate(45deg);
	-webkit-transform-origin: 100% 100%;
	margin-left:-34.45%;
	margin-right: 15.5%;
    }


.N-bar-top{
	width: 8.2em;
}
.N-cross{
	height:3em;
	width: 24.55em;
	border-radius: 1.5em;
	background-color: black;
	-webkit-transform: rotate(60deg);
	-webkit-transform-origin: 0 100%;
	margin-left:-5.6em;
	margin-top:-1.75em;
	margin-right: -16.9em;
}

.N-stem{
	height:17.5em;
}

.Y-top-left{
	margin-right: -10%;
	z-index: 100;

}
.Y-top-right{
	margin-left: -10%;
	z-index: 100;

}

.Y-triangle {
	width: 0;
	height: 0;
	border-left: 10em solid transparent;
	border-right: 10em solid transparent;
	border-top: 16em solid black;
	position: relative;
}

.Y-triangle::after {
	content:'';
	width: 0;
	height: 0;
	border-left: 7em solid transparent;
	border-right: 7em solid transparent;
	border-top: 11em solid white;
	position: absolute;
	margin-top: -16em;
	margin-left: -7em;
}


@media screen and (max-width: 1030px){

.I-container:first-child {
margin-left:5%;
padding-right:5%;
}	

.I-stem {
	margin: 0 22%;
}

.heart-hump-right{
	margin-left: -28%;
	margin-right: 9.7em;
}


.Y-top-left{
	margin-right: -12%;

}
.Y-top-right{
	margin-left: -12%;

}

}

@media screen and (max-width: 970px){



.I-container:first-child {
margin-left:12%;
padding-right:4%;
}

.I-stem {
	margin: 0 22%;
}


.heart-hump-left, .heart-hump-right{
	margin-left: 11%;
}

.heart-hump-right{
	margin-left:-41.5%;
	margin-right: 38%;
    }
}




@media screen and (max-width: 900px){

.I-container:first-child {
margin-left:12%;
padding-right:5%;
}

.I-stem {
	margin: 0 22%;
}


.heart-hump-left, .heart-hump-right{
	margin-left: 11%;
}

.heart-hump-right{
	margin-left:-57.5%;
	margin-right: 38%;
    }



.first-N {
	margin: 0 30%;
}


.N-cross{
	margin-left:-7.9em;
	margin-right: -17.995em;
}

.N-stem {
	margin: 0 37.6%;
}

.N-top {
	margin-left:9%;
}


.Y-top-left{
	margin-right: -16%;

}
.Y-top-right{
	margin-left: -16%;

}


.Y-container .N-stem {
	margin: 0 32%;
}

.Y-container .I-bar-top{
	margin: 0 -4.0%;
}

}


