body {
	background: linear-gradient(left, white 30%, #8b0 70%);
	height: 100%;
}
h1 {
    font-family: "Impact", Charcoal, sans-serif;
    color: rgb(153, 0, 51)
}

#star-five {
   margin: 50px 0;
   position: relative;
   display: block;
   color: rgb(255, 224, 102);
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid red;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(35deg);
   -webkit-transform: rotate(35deg);
   -ms-transform:     rotate(35deg);
   -o-transform:      rotate(35deg);
}
#star-five:before {
   border-bottom: 80px solid red;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   color: rgb(255, 224, 102);
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
#star-five:after {
   position: absolute;
   display: block;
   color: rgb(255, 224, 102);
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid red;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}
#triangle-up {
	width: 0;
	height: 0;
	border-left: 80px solid transparent;
	border-right: 80px solid transparent;
	border-bottom: 300px solid green;
	position: relative;
	top: 0px;
	left: 15px
}


#rectangle1 {
	width: 30px;
	height: 60px;
	background-color: red;
	position: relative;
	top: 0px;
	left: 80px;
}

.triangle1 {
  border-bottom: 90px solid #1f6c2f;
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  height:0;
  left: 220px;
  position:absolute;
  top: 70px;
  width: 0;
  z-index: 21;
}
.triangle2 {
  border-bottom: 100px solid #258038;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  height:0;
  left: 210px;
  position:absolute;
  top: 90px;
  width: 0;
  z-index: 20;
}
.triangle3 {
  border-bottom: 110px;
  color: rgb(0, 102, 0);
  border-left: 90px solid transparent;
  border-right: 90px solid transparent;
  height:0;
  left: 200px;
  position:absolute;
  top: 120px;
  width: 0;
  z-index: 19;
}

.triangle4 {
  border-bottom: 120px solid #258038;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  height:0;
  left: 190px;
  position:absolute;
  top: 150px;
  width: 0;
  z-index: 18;
}

.triangle5 {
  border-bottom: 130px solid #1f6c2f;
  border-left: 110px solid transparent;
  border-right: 110px solid transparent;
  height:0;
  left: 180px;
  position:absolute;
  top: 180px;
  width: 0;
  z-index: 17;
}

.triangle6 {
  border-bottom: 140px solid #258038;
  border-left: 120px solid transparent;
  border-right: 120px solid transparent;
  height:0;
  left: 170px;
  position:absolute;
  top: 210px;
  width: 0;
  z-index: 16;
}

.triangle7 {
  border-bottom: 150px solid #1f6c2f;
  border-left: 130px solid transparent;
  border-right: 130px solid transparent;
  height:0;
  left: 160px;
  position:absolute;
  top: 240px;
  width: 0;
  z-index: 15;
}

.base {
  background: #803825;
  height: 44px;
  left: 255px;
  position: absolute;
  top: 380px;
  width: 70px;
  z-index: 14;
}

#rectangle2 {
	width: 10px;
	height: 10px;
	background-color: red;
	position: relative;
	top: 200px;
	left: 80px;

}

#content {
  margin: 40px auto;
  text-align: center;
  width: 600px;
}
#content h1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 0 40px 0;
  font-size: 25px;
  line-height: 30px;
}
.circle {
  width: 100px;
  height: 100px;
  line-height: 80px;
  border-radius: 50%; /* the magic */
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  text-align: center;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 auto 0px;
}

.blue {
  background-color: #e6f7ff;  
}
.green {
  background-color: #cceeff;
}
.red {
  background-color:  #99ddff;
}
.feedback {
  font-size: 14px;
  color: #b1b1b1;
}