

body {
 background-image: url('branch.jpg');
 background-size: 100%;
 background-blend-mode: screen;

}

#magnifying-glass
{
 font-size: 10em; /* This controls the size. */
 display: inline-block;
 width: 6em;
 height: 4em;
 border: 0.03em solid white;
 position: relative;
 margin-left: 200px;
 margin-top: 50px;

}

p{
  margin-top: 10px;
  color: rgb(255, 102, 0);
  text-align: right;

}



/*
#grad2 {
    height: 100px;
    width: 200px;
    background: -webkit-radial-gradient(circle, rgb(106, 19, 236), rgb(71, 133, 117), rgb(71, 133, 117))
  }