body{
	background: white;
	height: 200vh;
	width: 800px;
	margin-right: 10px;
	margin-bottom: 10px;
	animation: colorstwo 6s linear 0.2s infinite;
}


ul {
  list-style-type: none;
}


.col{
	flex: 1;
	padding-right: 10px;
}

.large{
	flex: 2;
	padding-right: 10px;
}

.box{
	width: 20px;
	height: 300px;
	float: left;
	background: pink;
	margin-right: 5px;
	margin-bottom: 10px;
	color: pink;
	font-size: 5rem;
	display: flex;
	animation: movetwo 3.5s linear 0.2s infinite;
}s

h1 {
	font-size: 2em;
}

.up{
	transform: translate(0,-150px);
	animation: colors 3.5s linear 0.2s infinite;
}

.uptwo{
	transform: translate(0, -120px);
	animation: hum 3.5s linear 0.2s infinite;
}

.upthree{
	transform: translate(0, -40px);
	animation: move 3.5s linear 0.2s infinite;
}

@keyframes colors {
0% {
	background-color: blue;
}
50% {
	background-color: yellow;
}
100% {
	background-color: blue;
}
}

@keyframes hum {
0% {
	background-color: orange;
}
50% {
	background-color: yellow;
}
100% {
	background-color: red;
}
}

@keyframes move {
0% {
	transform: rotate(0deg);
}
100% {
	transform: rotate(180deg);
}
}

@keyframes movetwo {
0% {
	transform: rotate(0deg);
}
100% {
	transform: rotate(-180deg);
}
}

@keyframes colorstwo {
0% {
	background-color: white;
}
50% {
	background-color: orange;
}
100% {
	background-color: pink;
}
}
