img{
	max-height: 100%;
	max-width: 100%;
}
.hole {
    margin-bottom: 0px;
    margin-top: 0px;
    z-index: -2
}
.hole img{
	width: 1000px;
    height: 3000px;
    top: 0px;
    bottom: 0px;
}
.alice{
	position: fixed;
	margin-left: 440px;
	z-index: -1
}
.alice img{
	width: 450px;
	height: 400px;
	padding-bottom: 0px;
}
h1 {
	position: relative;
	bottom: 180px;
	font-size: 30px;
	z-index: 1
}
a{
  color:black;
text-decoration-line: none;

}

a:hover{

  font-style: italic;
}
