@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet');


body{
	background:rgb(165, 163, 212);
	font-size: 17px;
	font-family: 'Open Sans Condensed ',monospace;
	color: rgb(82, 75, 30);
}

h3{
	font-style: normal;
	text-decoration: underline;
	color: blue;
}

p{
	line-height: 1.2;
    margin-bottom: 3rem;
    width: 80%;
    border: 3px solid #c3a3a3;
    padding: 1rem;
    box-sizing: border-box;
}
.noindent{
	color: black;
}

#intro{
	font-size: : 1.5rem;
}