@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet');


body{
	background:rgb(165, 163, 212);
	font-size: 17px;
	font-family: 'Open Sans Condensed ',monospace;
}

h3{
	font-style: normal;
	text-decoration: underline;
	color: blue;
}

p{
	line-height: 1.2;
	margin: 0;
	text-indent: 3rem;
}
.noindent{
	text-indent:0;
}

#intro{
	font-size: : 1.5rem;
}