body{
    color: black;
    font-family: 'Helvetica', sans-serif;
    display:inline;
/*    padding-left: 30rem;
    padding-right: 5rem;*/
    background: rgb(211,220,201);
}

}

.wholecontain{
    height:1200px; 
    width:1200px;
    margin: 10px 20px 10px auto;
}

h1{font-size: 80px;}

div {
    left: 100px;
    height:20px;
    padding:10px;
    margin: 10px 20px 10px auto;
    z-index: 5;
}
.topsect{
    padding-left: 115px;
    display: inline-block;
    margin-top: 200px;
    width:260px;
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;

}
.headerrcontainer{
    padding-left: 115px;
    padding-top: 200px;
    display: inline-block;
    margin-top: -120px;
    margin-bottom: -50px;
    width:300px;
    font-size: 60px;
    line-height: 70px;
}

.bottomsect{
    padding-left: 115px;
    top: 300px;
    display: inline-block;
    margin-top: 70px;
    width:330px;
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;
}
.mostb{
    padding-left: 115px;
    top: 300px;
    display: inline-block;
    margin-top: 78px;
    width:260px;
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;
}

#header1{
    flex: center;
    margin-left: 10px;
}


.relative{
	position: relative;
	top: 40px;
	left:40px;
}
/*containing div*/

.object {
    top: 0px;
    margin-top: 0px;
    margin-left: 0px;
    width: 500px;
}


svg .box {
    fill:none;
    stroke-width: 70;
    z-index:-5;
    mix-blend-mode:multiply;
 }
.isolate {
    isolation: isolate;
}



}

