body {
	background: #FFFDF9;
}

p{
	display: flex;
	margin: 0px;
	padding: 0px;
}

.containbox{
	padding-top:100px;
	padding-bottom: 550px;
	padding-left: 700px;
	letter-spacing: 2px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 63px;
	font-weight: bold;
}

.text{
	margin: auto;
	padding: 0px;
}

.text2 {
	margin: auto;
	padding-top: 80px;
}

.graphic{
	display: flex;
	background-blend-mode: multiply;
	margin-bottom: 180px;
}

.bluecir {
	width: 400px;
	height: 400px;
	background: #A7EBD0;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	border-radius: 200px;
	margin-left:30px;
}
.shape {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 400px;
  height: 400px;
  border: none;
  -webkit-border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
  border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
  font: normal 100%/normal Arial, Helvetica, sans-serif;
  color: rgba(0,0,0,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #8C2B11;
  -webkit-transform: rotateZ(-45deg)   ;
  transform: rotateZ(225deg);
  margin-left: -50px;
}

.yellowcir{
	width: 400px;
	height: 400px;
	background: yellow;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	border-radius: 200px;
	margin-left: 30px;
}

.containbox2 {
	display: flex;
	margin-top: 70px;
}

.line{
	width: 550px;
	height: 25px;
	background: black;
	margin-right: 45px;
	margin-left:30px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.containbox3{
	display: flex;
	margin-top: 70px;
}

.box{
	display: flex;
	width: 550px;
	height: 200px;
	background: black;
	opacity: 0.7;
	margin-left: 30px;
	margin-bottom: 100px;
	margin-right:50px;
	margin-top:5px;
}




