body {
	font-family: helvetica;
	font-size: 40px;
	text-align: center;
}



#ball {
	background: white;
	width: 380px;
	height:380px;
	border-radius: 50%;
	border-style: solid;
	border-width: 5px;
	border-color: black;
	position: absolute;
	top:35%;
	left:35%;


}

.hexagon {
	width: 100px;
	height: 55px;
	background: black;
	position: absolute;
	top:58%;
	left:46.5%;
	bottom:50%;
}
.hexagon:before {
	content: "";
	position: absolute;
	top: -25px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 25px solid black;
}
.hexagon:after {
	content: "";
	position: absolute;
	bottom: -25px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 25px solid black;
}