body{
	background: orange;
}
.container{
	display: flex;
}
	.circle{
	display: flex;
	align-items: center;
	margin: auto;
	background: #f909e1;
	height:300px;
	width: 300px;
	border-radius: 50%;
	}
	.square{
	background: #FF5722;
	height: 200px;
	width: 200px;
	margin: auto;
	top:30px;
	left: 30px;
	}
