body{
	background: white;
	height: 200vh;
	width: 800px;
	margin-right: 10px;
	margin-bottom: 10px;
}

ul {
  list-style-type: none;
}

#text{
	display: flex;
	font-family: helvetica;
	padding-bottom: 0
}

.col{
	flex: 1;
	padding-right: 10px;
}

.large{
	flex: 2;
	padding-right: 10px;
}

.box{
	size: 2em;
}

h1 {
	font-size: 2em;
}

.whitebox {
	font-size: 2rem;
	
}

.up{
	transform: translate(0,-150px);
}

.collarge{
	transform: translate(0, -360px);
	animation: move 3.5s linear 0.2s infinite;

}

.collarge:hover{
	cursor: pointer;
}

.coltwo{

	transform: translate(0, -120px);
	animation: move 3.5s linear 0.2s infinite;
	color:blue;
}
	
}

.uptwo{
	transform: translate(0, -120px);
	animation: move 3.5s linear 0.2s infinite;
	size: 20%;
}

.upthree{
	transform: translate(0, -40px);
	scale: 200%;
}

.box:hover{
	cursor: pointer;
}


@keyframes move {
0% {
	transform: rotate(0deg);
}
100% {
	transform: rotate(180deg);
	scale: 200%;
}


@keyframes movetwo {
0% {
	transform: rotate(0deg);
}
100% {
	transform: rotate(-360deg);
	scale: 200%;
}
}

.play{
	animation: colorchange 1s ease-in-out alternate infinite;
}


@keyframes colorchange {
0% {
	background-color: white;
}
100% {
	background-color: pink;
}
0% {
	transform: rotate(0deg);
}
100% {
	transform: rotate(-360deg);
	scale: 200%;
}
}