
*{
	margin:0;
}
body {
	font-family: :georgia, serif;
	font-size: 1rem;
}
li {
	color: orange;
}
h1 {
	background: yellow;
	font-size: 5rem;
	padding: 3rem;
	border: 3rem solid red;
	margin: 6rem;
	width: 300px;
}
section{
	border: 10px solid blue;
	padding: 5rem;
}
.special{
	color:tomato;
}