body{
	color: black;
	font-family: Georgia,serif;
}

h1{
	font-size: 5rem;
	color: tomato
	background: yellow;
	padding: 3rem
	border:3px
	margin: 6rem;
	width: 300px;
}

h2{
	font-size: 2rem;
	color: black
	padding: 3rem
	border:3px
	margin: 6rem;
	width: 300px;

li{
	color: orange;
}

.special{
	color:tomato;
}

a{
	text-decoration: none;
}

a:hover{
	colo:red;
}