.circle {
  height: 500px;
  width: 500px;
  background-color: red;
  border-radius: 50%;
  left: 650px;
  top:-80px;
  position: relative;
}
.triangle-up {
	width: 0;
	height: 0;
	border-left: 250px solid transparent;
	border-right: 250px solid transparent;
	border-bottom: 500px solid yellow;
	top:-880px;
	left:380px;
	position: relative;
	transform: rotate(-20deg);
	opacity: 0.8;
}

.square {
  height: 450px;
  width: 450px;
  position: relative;
  top:-40px;
  left:630px;
  transform: rotate(20deg);
  background-color: blue;
}

.innercircle {
 position: absolute;
   background: white;
   border-radius: 50%;
   height: 50px;
   width: 50px;
   top: 55%;
   left: 85%;
   margin: -150px 0px 0px -150px;
}
