body{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d1fffd+0,d2fffc+11,d6f8fa+27,f0c9e9+70,f4c2e7+82,f6bee5+100 */
background: rgb(209,255,253); /* Old browsers */
background: -moz-linear-gradient(top, rgba(209,255,253,1) 0%, rgba(210,255,252,1) 11%, rgba(214,248,250,1) 27%, rgba(240,201,233,1) 70%, rgba(244,194,231,1) 82%, rgba(246,190,229,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(209,255,253,1) 0%,rgba(210,255,252,1) 11%,rgba(214,248,250,1) 27%,rgba(240,201,233,1) 70%,rgba(244,194,231,1) 82%,rgba(246,190,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(209,255,253,1) 0%,rgba(210,255,252,1) 11%,rgba(214,248,250,1) 27%,rgba(240,201,233,1) 70%,rgba(244,194,231,1) 82%,rgba(246,190,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1fffd', endColorstr='#f6bee5',GradientType=0 ); /* IE6-9 */
background-size: cover;
 height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


div{
	width: 40px;
	height: 40px;
}
.circle {
	background color: rgba(255, 208, 224, 0.52);
	height: 100px;
	width: 100px;
	border-radius: 50%;
	background-blend-mode: multiply;
	margin: 20px;
	border-right: 80px solid transparent;
	border:80px solid transparent; 
	position: right

}



	
} 
div{
	width: 100px
	height: 60px;

}

.triangle div:nth-child(3n) {
	width: 100px
	height: 60px
	background-color:#ddffd0;
	border-top: 40px solid #0effcd;
	border-right: 40px solid #f5b0c8;
	border-bottom: 40px solid #ead6ff;
	border-left: 40px solid #ffe4a0;
	background-blend-mode: multiply;
	margin: 20px;
	
}

div{ 
	width: 200px
	height:60px; 
	float: left
}

.triangle2 div:nth-child(3n) {
	width: 100px
	height: 60px
	background-color:#ddffd0;
	border-top: 40px solid #0effcd;
	border-right: 40px solid #f5b0c8;
	border-bottom: 40px solid #ead6ff;
	border-left: 40px solid #ffe4a0;
	background-blend-mode: multiply;
	margin: 20px;
	
}

div{ 
	width: 200px
	height:60px; 
	float: right
}