* {
  box-sizing: border-box;  
}

body{
  color: #fff;
}

#parent {
  display: flex;
  flex-wrap: wrap;
}

.child {
  min-height: 100px;
  background: red;
  flex: 1;
  min-width: 25%;
  border: 5px solid white;
}

.iconset{
  display: flex;
  padding-top: .5em;
}
.icon{
  flex: 1;
  text-align: center;
}

.fa{
  font-size: 2em;
}

img{
  width: 200%;
}

@media screen and (max-width: 900px) {
  .child {
    min-width: 50%; 
    background: yellow;
  }


}



@media screen and (max-width: 400px) {
  .child {
    min-width: 100%; 
    background: blue;
  }

}