body{
    height: 120vh;
}
div {
    box-sizing: border-box;
}

.object {
    margin: auto;
    width: 500px;
}
#pop {
    position: relative;
}

#bottom {
    top: 300px;
    position: absolute;
}

#holder {
    position: absolute;
    height: 400px;
    width: 110px;
    margin-left: 100px;
}


#handle {
    background: #ffc107;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    height: 40%;
    width: 100px;
    margin-left: 100px;
}

#lines{
    display: flex;
    position: absolute;
    margin-left: 110px;
    margin-top: 90px;


}
.line {
    background: #4682B4;
    width: 20px;
    height: 250px;
    margin: 10px;
/*    position: absolute;
    top: 30%;
    left: 0%;*/
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

/*.line {
    background: #4682B4;
    width: 25px;
    height: 250px;
    position: absolute;
    top: 30%;
    left: 75%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
*/
#popsicle {
    margin: auto;
    border-top-left-radius: 120px;
    border-top-right-radius: 120px;
    background: #87CEFA;
    width: 300px;
    height: 450px;
    
}

#tongue {
    margin-left: 170px;
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 120px;
    background: #F08080;
    width: 150px;
    height: 200px;
    top: -5%;
    position: fixed;    
}

#face {
    top: -60%;
    margin: auto;
    background: #FFE4E1;
    position: fixed;
   width: 500px;
   height: 680px;
   -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
   border-radius:         50%  50%  50%  50%  / 60%   60%   40%  40%;
}
#neck{
    width: 25px;
}


