body{
	background: #fff url("http://www.isric.org/sites/default/files/styles/gallery_big_image_900x700/public/IMG_4224.JPG") no-repeat;
	background-size: cover;
	font-size: 1.5rem;
	color: #fff;
	font-family: Helvetica;
	height: 100vh;
}
h1{ 
	color:#fff;
	font-size: 3rem;
}

img{
	position: centred
}
