#triangle1 {
	width: 0;
	height: 0;
	border-bottom: 800px solid rgba(0, 173, 197, 0.5);
	border-right: 800px solid transparent;
}

#triangle2 {
	width: 0;
	height: 0;
	border-bottom: 800px solid rgba(255, 235, 59, 0.5);
	border-left: 800px solid transparent;
	position: relative;
	bottom: 400px;
}


h1{
	font-size: 3em;
}

#rotate{
	transform: rotate(-45deg);
    position: fixed;
    left: 400px;
    top: 100px;
}
