body{
	background: url('http://24.media.tumblr.com/2c1f706a6c91613a7f371e32aa70618b/tumblr_mg4xzdf6qT1ruuh0ho1_500.png') center center #72AAE3;
	background-size: 800px;
}

#border{
	border: 2px solid #000;
	position: fixed;
	top:20px;
	bottom: 20px;
	left: 20px;
	right:20px;
}

#logo{
	height: auto;
	text-align: center;
}

#logo> img{
	width: 1000px;
}

#textbox1{
	position: fixed;
	left:850px;
	bottom: 100px
	height:300px;
	width: 300px;
	

}
#right-box{
	position: fixed;
	right:850px;
	bottom: 100px
	height:300px;
	width:300px;

}

section{
	display: flex;
	width: 33vw;
	margin: auto;
}
.cols{
	font-size: 2rem;	
}