h1 {
 	color: red;
 	text-align: center;
 }
 .custom { 
 	cursor: url('http://www.hey.fr/tools/emoji/ios_emoji_face_with_tears_of_joy.png'), auto; 
}
 body{
 	text-align: center;
 	min-height: 672px;
 	background: -moz-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 12%, rgba(21,255,0,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(21,255,0,1)), color-stop(88%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 12%, rgba(21,255,0,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 12%, rgba(21,255,0,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 12%, rgba(21,255,0,1) 100%); /* ie10+ */
	background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 12%, rgba(21,255,0,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#15FF00', endColorstr='#000000',GradientType=0 ); /* ie6-9 */
 }
 img{
 	display:block;
 	margin:auto;
 	height:330px;
 	width:auto;
 }
 .text{
 	color:red;
 	text-align: center;
 }	

 .rawr{
 	color:blue;
 	text-align: center;
 }