body {
	font-family: Helvetica, sans-serif;
	text-align: left;
	background-color: pink;
}

h1{
	color: #fc4eb3;
	font-family: helvetica;
	text-align: left;
	font-size: 30pt;
	padding-left:36%;
}

h1{
	display: none;
}

h2{
	color: #fc4eb3;
	font-family: helvetica;
	text-align: left;
	font-size: 30pt;
	padding-bottom: 2%
	padding-left:36%;
}

h2{
	display: none;
}

#ha{
	animation: updown 2s ease-in alternate infinite;
	position: absolute;
	z-index: 100;
}

#oo{
	animation: updown 2s ease-in alternate infinite;
	margin-top: 66%;
}

.button{
	padding: 2rem 3rem;
	background: green;
	color: white;
	text-align: center;
	border-radius: 10px;
	cursor: pointer;
}

.button:hover{
	opacity: 0.8;
}

.ok1 {
	width: 33%;
	height: 100%;
	background-color: #fc4eb3; 
	-moz-border-radius: 50%;
	-webkit-border-radius: 20%; 
	position: fixed;
	}

.ok4 {
	width: 33%;
	height: 50%;
	margin-left:33%;
	background-color: #8e0707;  
	-moz-border-radius: 50%;
	-webkit-border-radius: 20%; 
	position: fixed;
}

.elementcontainer {
	height: 80vh;
	display: flex;
  	align-items: center;
  	align-content: center;
  	-webkit-flex-flow: wrap;
  	justify-content: center;
}

.element {
	width: 100px;
	height: 100px;
	margin: 10px;
	background-color: blue;
}

.element:hover{
	cursor: pointer;
}

.reveal{
	display: block;
	background: yellow;
}

.play{
	animation: wheel 1s ease-in-out alternate infinite;
}

@keyframes wheel {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}

.ok5 {
	width: 63%;
	height: 75%;
	margin-left:33%;
	background-color: black; 
	-moz-border-radius: 50%;
	-webkit-border-radius: 20%; 
	position: fixed;
}
.ok6 {
 	width: 33%;
	height: 50%;
	margin-left:33%;
	background-color: #e5a9cc;  
	-moz-border-radius: 20%;
	-webkit-border-radius: 20%;
	position: fixed;
}

.ok7 {
	width: 33%;
	height: 25%;
	margin-left:33%;
	background-color: black;  
	position: fixed;
}

.ok8 {
	width: 33%;
	height: 100%;
	margin-left:66%;
	background-color: #701010;  
	-moz-border-radius: 20%;
	-webkit-border-radius: 20%;
	position: fixed;
}

@keyframes spin {
	0% {
		transform: rotate(0deg) scale(1);
		background: red;
	}
	100% {
		transform: rotate(360deg) scale(2);
		background: blue;
	}
}

.ok9 {
	width: 33%;
	height: 75%;
	margin-left:66%;
	background-color: black;  
	position: fixed;
}

.ok10 {
	width: 50%;
	height: 50%;
	margin-left:66%;
	background-color: red;
	-moz-border-radius: 20%;
	-webkit-border-radius: 20%;  
	position: fixed;
}

.ok11 {
	width: 33%;
	height: 25%;
	margin-left: 66%;
	background-color: black;  
	position: fixed;
}

div:first-child {
	border-radius: 50%;
	border: 7px dotted black;
	animation: spin 5s linear alternate infinite;
	/*box-sizing: border-box;*/
}

.star {
   margin: 50px 0;
   position: relative;
   display: block;
   color: red;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid red;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(35deg);
   -webkit-transform: rotate(35deg);
   -ms-transform:     rotate(35deg);
   -o-transform:      rotate(35deg);
}
#star-five:before {
   border-bottom: 80px solid red;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
#star-five:after {
   position: absolute;
   display: block;
   color: red;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid red;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}



