body{
	background: rgb(230,230,220);
	font-size: 16px;
}

.title{
	font-size: 100px;
	color: red;
}

.twoimages{
	display: flex;
	flex-direction: row;

}

.item{
	width: 500px
}

img{ 
max-width: 100%
max-height 100%:;
 }
