body { 
font-family: Times, serif;
 }

 header{
 	font-family: Helvetica, sans-serif;
 }

 nav ul{
 	list-style-
 }


.circle {
	position; relative;
	top: 100px;
	right: 100px
	background: red;
	z-index: 10;
}
