body{
    height: 120vh;
    background: #E5FFFB;
    margin-top: 50px;
}

#object {
    position: relative;
    left: 40%;
    margin: auto;
}

#box {
    position: absolute;
    width: 25px;
    height: 4000px;
    background: #033A69;
    display: flex;
    margin-left: 70px;
}

#tri {
    position: fixed;
    display: flex;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 80px solid #033A69;
    top: 460px;
    z-index: 30;
    margin: auto;
    margin-left: 35px;
}

#hidden {
    position: fixed;
    display: flex;
    background: #E5FFFB;
    height: 300px;
    width: 100px;
    bottom:0px;
    margin:auto;
}

#bottom {
    z-index: 80;
    align-items: center;
}

#heart {
    position: relative;
    width: 100px;
    height: 90px;
    top: 3800px;
    margin: auto;
}

#heart:before,
#heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: #FF275B;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}

#heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}
