@import url('https://fonts.googleapis.com/css?family=Sintony');


body{background: rgba(145, 0, 255, 0.15);
	font-size: 14px;
	font-family: 'Sintony', sans-serif;
	border-style: solid;
	border-width: 2px;
	border-color: orange;
	border-radius: 10px;
	padding: 1rem;
	width:50%;
	margin: auto;

}


#columns{
	display: flex;
	flex-wrap: wrap;
}

.description{
	flex: 1;
	min-width: 25%
	box-sizing:border-box;
	margin: 1rem;
	text-align: center;

}

header{
	text-align: center
}

h3{text-align: center}

em{
	font-style: normal;
	text-decoration: underline;
}

h3{
	color:rgb(255, 137, 246);
	background-color:white;
}

p{
	line-height: 1.5;
	margin: auto;
	margin-bottom: 1rem
	text-indent: 3rem;
	padding: 1rem;
	box-sizing: border-box;

}

.noindent{
	text-indent: 0;
	color:white;
	background-color: orange
}

#intro{
	font-size: 0.5rem;
	text-decoration: underline;
}

li{
	color:red;
}