body{
	background: #7b0000;
}

h1{
	font-family: 'Bodoni', serif;
	font-size:1rem;
	color:#ebdec6;
	text-align: center; 
	border: 5px solid;
	margin: 150px 500px 30px 500px;
	
}

h2{
font-family: 'Bodoni', serif;
font-size:1rem;
text-align: center;
}

a{
text-decoration: none;

}