	body{
		font-family: 'Scope One', serif;
		font-size: 1rem;
		color:white;
		margin: 0 100px 300px 600px;
		margin-top: 0;
		margin-right: 150px;
		margin-bottom: 300px;
		margin-left: 100px;
		background: #e6d6ff
	}

	li{
	color: white;
	}

	h1{
		
		font-family: serif;
		font-style: bold;
		font-size:10rem;
		font-weight: 1000;
		color: white;
		text-align: center; 
		padding: 5rem;
		margin: 0 100px 300px 600px;  
		margin-top: 30rem;
		margin-right: 6rem;
		margin-bottom: 1rem;
		margin-left: 6rem;
		border: 40px solid;
		box-sizing: border-box; 
	}

	p{
		margin-top:0rem;
		font-size:1rem;
	}


h2{
		
		font-family: 'Scope One', serif;
		font-style: normal;
		font-size: 2rem;
	}

h3{
		
		font-family: 'Scope One', serif;
		font-style: italic;
		font-weight: 700;
		font-size: 1rem;
		margin-bottom: 10;
	}

h4{
		
		font-family: 'Scope One', serif;
		font-weight: 700;
		font-size: 1rem;
		color: white;
		text-align: center; 
	}
h4{
		margin: 0 100px 300px 600px;
		margin-top: 0;
		margin-right: 100px;
		margin-bottom: 50px;
		margin-left: 100px;

	}
	