body{
	background: linear-gradient(132deg, #f44242, #cee8ed);
	background-size: 400% 400%;
	animation: BackgroundGradient 2s ease infinite;
}

@keyframes BackgroundGradient {
	0% {background-position: 0% 50%;}
	50% {background-position: 100% 50%;}
	100% {background-position: 0% 50%;}
}


#circle {
    background: #f00;
    width: 200px;
    height: 400px;
    border-radius: 50%;
    border: 12px solid white;
    float:left;
}


#circleone{
	background: blue;
	width: 300px;
	height: 200px;
	border-radius: 50%;
	border: 12px solid white;
	float: right;
}

#circletwo{
	background: green;
	width: 300px;
	height: 200px;
	border-radius: 50%;
	border: 12px solid white;
	float: right;
	position:fixed;
	bottom: 20px;
	right:20px;

}

#roundedbox{
	background: transparent;
	width: 300px;
	height: 600px;
	border-radius: 15%;
	border: 12px solid white;
	display: inline-flex;
}