body{ 
	background-color: #456bac;
	 }


h1{ 
	color: white;
	font-family: helvetica; 
	text-align: center;
	font-size:220pt;
	margin-top: 0em;
	padding-top: 0em;
	margin-bottom: 0em;
	padding-bottom: 0em;
}

h2{
	color: black;
	font-family: helvetica;
	margin-left: 4em;
	margin-bottom: 1em;
}

div.relative {
    position: relative;
    left: 0em;
    top: 8em;
    font-family: helvetica;
}

div.paragraphone{
	padding-bottom: 35em;
	position: relative;
	bottom: 3em;
}

#circle {
    background: #29298d;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    position: relative;
    bottom: 41em;
    left:15em;
    z-index: -1;
}

#circlewhite {
	background: white;
	width: 380px;
	height:380px;
	border-radius: 50%;
	position: relative;
	bottom: 65em;
	left: 39em;

}

#redrectangle {
	background: red;
	width: 420px;
	height: 420px;
	position:relative;
	bottom: 64em;
	left:25em;

}

#whiterectangle {
	background: white;
	width: 280px;
	height: 280px;
	position:relative;
	bottom: 95em;
	left:12em;

}

#triangleyellow {
    
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 262.5px 454.7px 262.5px;
    border-color: transparent transparent #fbbe03 transparent;
    position: relative;
    left: 41em;
    bottom:92em;
}

#trianglewhite {
    
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 237.5px 411.4px 237.5px;
    border-color: transparent transparent #ffffff transparent;
    position: relative;
    left: 24em;
    bottom:110em;
}


section {

	position: relative;
	bottom: 130em;
}
