body{
	background: linear-gradient(132deg, #42f4b3, #760191);
	background-size: 400% 400%;
	animation: BackgroundGradient 10s ease infinite;
}

@keyframes BackgroundGradient {
	0% {background-position: 0% 50%;}
	50% {background-position: 100% 50%;}
	100% {background-position: 0% 50%;}
}

a {
  
  font-size: 25px;
  letter-spacing: 1px;
  color: white;
  font-family: helvetica;
}

h1 {

  top: 60%;
  
  font-size: 36px;
  letter-spacing: 1px;
  color: orange;
  border-style: solid 2px white;
  font-family: helvetica;
  margin-left: 27em;
  border-style: dotted;
  border-color: white 5px;
  padding-left: 2em;

}

h2 {
  margin-top: 4em;
  font-size: 25px;
  letter-spacing: 1px;
  color: white;
  margin-left: 2em;
  font-family: helvetica;

}





	
